@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Lobster, cursive, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url("../images/www/bg-img.svg");
  background-repeat: repeat;
  background-size: 90%;
}

header h1,
h2 {
  color: #2c292a;
}

nav li, nav a {
  color: #2c292a;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
  background-color: #2c292a;
}

.cards {
  overflow: hidden;
}

.card-1:hover img,
.card-2:hover img,
.card-3:hover img,
.card-4:hover img {
  opacity: .7;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  overflow: hidden;
  float: left;
}

.cards a {
  position: relative;
}

.cards p {
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 100;
  color: #fff;
}

.card-small {
  width: 100%;
  display: block;
}

.card-big {
  display: none;
}

.banner {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner-content p {
  color: #fff;
}

main {
  background-color: #fff;
  font-family: sans-serif;
  margin: auto;
}

.btn {
  background-color: hotpink;
  color: #000;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: hotpink;
}

footer {
  background-color: #2c292a;
  font-family: sans-serif;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: hotpink;
}

footer img {
  cursor: pointer;
}

.footer-icons {
  text-align: center;
  margin-bottom: 1.3rem;
}

.icon {
  max-width: 50px;
}

.icons {
  float: right;
}

small {
  color: #fff;
}

footer p {
  margin: 0;
}

@media only screen and (min-width: 25em) {

  .card-small {
    display: none;
  }

  .card-big {
    display: block;
    width: 100%;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 50%;
    max-height: 10em;
  }

  .hours h2 {
    text-align: left;
    margin-left: 2em;
  }

  .hours {
    margin: auto;
  }

}

@media only screen and (min-width: 38em) {

  .nav a {
    font-size: 1.25rem;
  }

  body {
    font-size: 110%;
    line-height: 1.4;
  }

  .cards p {
    top: 40%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }

}

@media only screen and (min-width: 60em) {

  body {
    font-size: 120%;
    line-height: 1.5;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 25%;
  }

}

@media only screen and (min-width: 90em) {

  body {
    font-size: 130%;
    line-height: 1.5;
  }

}
